@use './reset.scss';
@use './variables/global.scss';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

.app {
  font: var(--font-m);
  color: var(--color-text);

  background: var(--bg-color);
  min-height: 100vh;
  margin: 0 auto;
}
